@tailwind base;
@tailwind components;
@tailwind utilities;



.borderCss{
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px var(--red);
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.borderCss:hover{
  border: 1px solid #C21E56;
}
/* blur */
.blur {
  position: absolute;
  width: 12rem;
  height: 9rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: 19;
  top: -19px;
  left: 56%;
  filter: blur(112px);
  -webkit-filter: blur(212px);
}

.banner-img{
  position: relative;
}
.banner-img>*{
  position: absolute;
  
}
.i-right > :nth-child(1) {
 
}
.i-right > :nth-child(2) {
 
}
.i-right > :nth-child(3) {
  
}


/* *{
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
} */


:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --red : #C21E56;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}




@layer base {
  body {
    @apply font-body text-paragraph leading-6 bg-gray-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-primary;
  }
  .section {
    @apply py-12 lg:py-32 ;
  }
  .section-title {
    @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5;
  }
  .subtitle {
    @apply text-justify text-base text-paragraph mb-16 lg:mb-24 max-w-[520px];
  }
  .btn {
    @apply py-4 px-7 font-medium text-white flex items-center justify-center rounded-sm hover:bg-accent-hover transition-all;
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply bg-secondary text-paragraph h-[60px] outline-none pl-6 w-full font-body text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-pink-600;
  }
  .textarea {
    @apply bg-secondary resize-none w-full outline-none p-6 rounded-sm h-[200px] focus:outline focus:outline-1 focus:outline-pink-600;
  }
  .active {
    @apply text-pink-600;
  }
}
